/* div {
    border: 1px solid black;
    margin: 5px;
}

#third > p {
    display: none;
}

h1 {
    display: none;
}

#second * {
    display: none;
}

*{
    visibility: hidden;
}

img{
    visibility: visible;
} */