body {
    font-family: 'Courier New', Courier, monospace;
}

.paper {
    display: inline-block;
    margin-right: 20px;
    background-color: lightgray;
    width: 300px;
    overflow: hidden;
    padding: 25px;
    padding-top: 0;
    text-align: justify;
}

ul {
    list-style-type: none;
}