.paper {
    background-color: gray;
    width: 350px;
    display: inline-block;
    margin-right: 4em;
    padding: 25px;
    border: 2px solid black;
    text-align: justify;
}
p {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4 {
font-family: monospace;
font-size: larger;
}
ul {
    list-style-type: none;
}
h1 {font-family: fantasy;
}